body {
    background-image:url("ronaldoffffddfdf.jpeg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(237, 227, 227)
}
h1{
    color:rgb(27, 32, 30)
background-color:blue
}